/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex{
    display: flex;
}
.container{
    max-width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
li:hover{
    text-decoration: underline;
}

/* HEADER */
header{
    background-color: #ff6900;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    padding: 10px 0px;
    /* box-shadow: 1px 1px 1px 1px black; */
}
header section{
    width: 100%;
}
.navigation li a{
    color: white;
    font-size: 15px;
    padding-right: 10px;
}
.navigation li a i{
    font-size: 15px;
}
.logo img{
    width: 100px;
}
.logo{
    text-align: center;
}
.shop{
    text-align: right;
}

/* MAIN */
main{
    padding-top: 80px;
}
main section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
main section div{
        position: relative;
        width: 32%;
}
.dress:hover{
    cursor: pointer;
    content: url('../img/1b.webp');
}
.product:hover{
    display: block;
}
.dress{
    width: 100%;
}
.discount{
    position: absolute;
    bottom: 50px;
    width: 100%;
    color: white;
}
.discount span{
    padding: 2px 5px;
    font-size: 13px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.heart{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    color: black;
    position: absolute;
    top: 15px;
    right: 0;
}
.product-info{
    position: absolute;
    width: 100%;
}
.price{
    font-size: 12px;
}
.good{
    color: red;
}
.bad{
    text-decoration: line-through;
}


/* FOOTER  */
footer{
    background-color: black;
    border-bottom: 2px solid white;
    color: white;
}
footer .container{
    justify-content: space-between;
    padding: 20px 0
}
footer p{
    padding-bottom: 5px;
}
ul{
    font-size: 12px;
}
.list li{
    display: inline-block;
    list-style: none;
}
.list a{
    text-decoration: none;
    color: lightgray;
    padding-right: 5px;
    margin-top: 5px;
}
i{
    font-size: 20px;
}

















/* DEBUG */


