/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.flex{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
}
.container{
    max-width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

/* HEADER */
header{
    background-color: orange;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    padding: 10px 0px;
}
.logo img{
    width: 100px;
}
.logo{
    text-align: center;
}
.shop{
    text-align: right;
}

/* MAIN */
main{
    padding-top: 80px;
}
main section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
main section div{
        position: relative;
        width: 32%;
}
.dress{
    width: 100%;
}
.discount{
    position: absolute;
    bottom: 50px;
    width: 100%;
    color: white;
}
.discount span{
    padding: 2px 5px;
    font-size: 13px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.heart{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    color: black;
    position: absolute;
    top: 15px;
    right: 0;
}
.product-info{
    position: absolute;
    width: 100%;
}
.price{
    font-size: 12px;
}
.one{
    color: red;
}
.two{
    text-decoration: line-through;
}


/* FOOTER  */
footer{
    background-color: black;
    border-bottom: 2px solid white;
}
footer .container{
    justify-content: space-between;
}

















/* DEBUG */
footer *{
    border: 1px dashed white;
}
footer{
    /* height: 100px; */
    color: white;
}
footer section{
    padding: 20px 0;
    height: 50px;
    /* width: 50px; */
}
